### Build directories ###
/target/
!.mvn/wrapper/maven-wrapper.jar

### IDE files ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/

### Node ###
node_modules/
whatsapp-bot/node_modules/

### Firebase ###
firebase-credentials.json
src/main/resources/firebase-credentials.json